//Colours should always only appear in this colours.scss
$black: #000;
$white: #fff;
$grey-darker: #444444;
$red: #C81432;
$dark-red:#A7031E;
$grey: #969696;
$light-grey: #D9D9D9;
$lighter-grey: #F6F6F6;
