$desktop-pointXL: 1400px;
$desktop-pointL: 1280px;
$desktop-point: 1025px;
$tab-point: 768px;
$mob-point: 600px;
$extra-Mobpoint: 450px;

$screen: "only screen";

$mob-mediaS: "#{$screen} and (max-width:#{$extra-Mobpoint})";

$mob-media: "#{$screen} and (max-width:#{$tab-point})";

$tab-media: "#{$screen} and (min-width:#{$tab-point})";

$desktop-media: "#{$screen} and (min-width:#{$desktop-point})";

$desktop-mediaL: "#{$screen} and (min-width:#{$desktop-pointL})";

$desktop-mediaXL: "#{$screen} and (min-width:#{$desktop-pointXL})";