//FONT FAMILIES
$font-base: 'Open Sans',
Helvetica,
Arial;
$font-bold: 'Open Sans SemiBold',
Helvetica,
Arial;

//FONT SIZES
$fontSize-small: 1.5rem; //15px
$fontSize-base: 1.9rem; //18px
$fontSize-baseL: 2.4rem; //24px
$fontSize-large: 3.2rem; //32px
$fontSize-largest: 4.8rem; //48px

//MOB FONT SIZES
$fontSize-small-mob: 1.2rem; //15px
$fontSize-base-mob: 1.5rem; //15px
$fontSize-baseL-mob: 2.0rem; //20px
$fontSize-large-mob: 2.4rem; //24px
$fontSize-largest-mob: 3.6rem; //36px

$fontWeight-normal: 400;
$fontWeight-semibold: 600;

//LINE HEIGHTS
$lineHeight-h1: 5.6rem; //56px
$lineHeight-h2: 4rem; //40px
$lineHeight-h4: 3.2rem; //32px
$lineHeight-tightest: 2rem; //20px
$lineHeight-tighter: 2.2rem; //22px 
$lineHeight-tight: 2.8rem; //28px
$lineHeight-double: 2.13;


//MOB LINE HEIGHTS
$lineHeight-h1-mob: 4.8rem; //48px
$lineHeight-h2-mob: 3.2rem; //32px
$lineHeight-h4-mob: 2.8rem; //28px
$lineHeight-tightest-mob: 1.6rem; //28px


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot');
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
    url('../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}