@mixin  flexbetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin  flexcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}