/*Theme Name: Моя дочерняя тема
Template: storefront

*/

/* импортируем стили родительской темы */
@import url("../storefront/style.css");

/* Свои дополнительные стили */
/* .foo{ color:red; } */

.site-header{
    background-color: #f3f3f3;
}
.new{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.swiper {
    width: 600px;
    min-height: 300px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #555555;
}

.swiper-pagination-bullet-active {
    background-color: #555555;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction,
.swiper-horizontal>.swiper-scrollbar {
    bottom: 0px;
}

.btn_uag>:first-child:hover {
    background-color: #474747;
    color: white;
}



 /* form  */


.modal_dialog {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
    display: flex;
    z-index: 1000;
    flex-wrap: wrap;
    max-width: 500px;
    background-color: #f3f3f3;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 15px;
    transition: top 1s;
}

.modal_dialog>div {
    width: 100%;
    text-align: center;
}

.modal_dialog p {
    font-size: 24px;
    color: #333333;
}

.modal_dialog_bg {
    position: absolute;
    width: 100vmax;
    height: 100vmax;
    top:0;
    left: 0;
    background-color:#333333;
    z-index: 999;
    opacity: 0.7;
}

#modal_dialog_btnYes,
#modal_dialog_btnNo {
    width: 100px;
    margin: 0 10px;
    border-radius: 15px;
    border: solid 1px #333333;
}

#modal_dialog_btnYes:hover,
#modal_dialog_btnNo:hover,
#wpforms-submit-252:hover,
#form-btn:hover {
    background-color: white;
    color: #333333;
}

#wpforms-form-252 {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    flex-wrap: wrap;
}

#wpforms-form-252 > div {
    width: 100%;
}

#wpforms-form-252 input {
    border: 1px solid #333333;
}

#wpforms-submit-252 {
    width: 100px;
    color: white;
    border-radius: 15px;
    border: solid 1px #333333;
    background-color: #333333;
}
