*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-width: 320px;
    margin: 0;
    font-family: $font-bold;
    font-size: $fontSize-base-mob;
    line-height: $lineHeight-tighter;
    color: $grey-darker;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

body.fixed {
    position: fixed;
    overflow: hidden;
    height: 100%;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: $black, $alpha: .5);
        z-index: 2;
    }

    #header {
        transition: none;
        background-color: $white;
    }
}

a {
    color: $grey-darker;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: $fontSize-base-mob;
    line-height: $lineHeight-tighter;
    font-family: $font-base;
    margin: 0 0 1.6rem;

    @media #{$tab-media} {
        margin: 0 0 2.4rem;
        font-size: $fontSize-base;
        line-height: $lineHeight-tight;
    }

    &:last-child {
        margin-bottom: 0;
    }

    strong {
        display: inline-block;
        margin-bottom: 10px;
    }
}

h1,
h2,
h3,
h4 {
    font-family: $font-bold;
    font-weight: $fontWeight-semibold;

}

h1 {
    margin: 0;
    color: $black;
    font-size: $fontSize-largest-mob;
    line-height: $lineHeight-h1-mob;

    @media #{$desktop-media} {
        font-size: $fontSize-largest;
        line-height: $lineHeight-h1;
    }
}

h2 {
    font-size: $fontSize-large-mob;
    line-height: $lineHeight-h2-mob;
    margin: 0;

    @media #{$desktop-media} {
        font-size: $fontSize-large;
        line-height: $lineHeight-h2;
    }
}

h3 {
    font-size: $fontSize-small;
}

h4 {
    line-height: $lineHeight-h4-mob;

    @media #{$desktop-media} {
        line-height: $lineHeight-h4;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#svgPlaceholder {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 16px;

    @media #{$tab-media} {
        padding: 0 40px;
    }

    @media #{$desktop-media} {
        max-width: 1310px;
    }

    @media #{$desktop-mediaXL} {
        padding: 0 15px;
    }

    &-block {
        margin: 40px auto;
        padding: 0 15px;

        @media #{$tab-media} {
            margin: 64px auto;
            padding: 0 30px;
        }

        @media #{$desktop-media} {
            max-width: 1310px;
        }

        @media #{$desktop-mediaL} {
            padding: 0 15px;
        }
    }
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    border: 0;
}

.img-trianglу {
    position: relative;
    display: block;
    width: fit-content;
    overflow: hidden;


    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        max-width: 8%;
        background: url('../images/cover.svg');
        background-size: cover;
    }

    &:after {
        top: -4px;
        right: -1px;
        height: 105%;
    }
}

.post {
    >.img-trianglу {
        margin: 0 auto;
    }
}

body:not(.home) {
    padding-top: 56px;

    @media #{$tab-media} {
        padding-top: 79px;
    }

    @media #{$desktop-media} {
        padding-top: 164px;
    }
}

.article-container,
article {
    h1 {
        margin: 20px 0 52px;

        @media #{$desktop-media} {
            margin: 64px 0 128px;
        }
    }
}

.title-article {
    @include flexcenter();
    min-height: 128px;
    color: $red;

}

article .container {
    padding: 0;
}

.entry {
    margin-top: 32px;

    @media #{$desktop-media} {
        margin-top: 64px;
    }
}

.home .assortment-block {
    padding: 0 16px;

    @media #{$tab-media} {
        padding: 0 40px;
    }

    @media #{$desktop-media} {
        padding: 0 16px;
    }
}