.article-container {
    max-width: 878px;
    margin: 24px auto 48px;

    @media #{$tab-media} {
        margin: 40px auto 80px;
    }

    h4 {
        font-size: $fontSize-baseL-mob;
        font-family: $font-base;
        font-weight: normal;
        margin: 0 0 16px;

        @media #{$tab-media} {
            font-size: $fontSize-baseL;
            margin: 0 0 24px;
        }
    }

    .entry-title {
        color: $grey-darker;
        margin: 8px 0 32px;
        text-align: left;

        @media #{$tab-media} {
            margin: 16px 0 64px;
        }
    }

    p {
        span:first-child {
            display: block;
        }
    }

    h2 {
        margin: 32px 0 16px;

        @media #{$tab-media} {
            margin: 64px 0 32px;
        }
    }

    .wp-block-image {
        margin: 24px 0;

        @media #{$tab-media} {
            margin: 44px 0 40px;
        }
    }

    a {
        color: $red;
    }

    ul:not(.dropdown-menu) {
        margin: 0 0 0 20px;

        li {
            padding-left: 6px;
            margin: 0 0 1.6rem;
            list-style-type: disc;
            color: $grey-darker;
            font-size: $fontSize-small;
            font-family: $font-base;

            @media #{$tab-media} {
                padding-left: 12px;
                margin: 0 0 2rem;
                font-size: $fontSize-base;
                line-height: $lineHeight-tight;
            }
        }
    }
    figure {
        ul {
            margin: 0 !important;
            li {
                padding: 0 !important;
            }
        }
    }
}

.article-container.container {
    margin-top: 0;
}

/*FAQ*/
.faq {
    margin: 0 auto 48px;
    padding: 0 16px;

    @media #{$tab-media} {
        margin: 0 auto 132px;
    }

    &-questions-block {

        >div {
            padding: 16px 0;
            border-bottom: 1px solid $light-grey;

            @media #{$tab-media} {
                padding: 20px 0;
            }

        }

    }

    &-question.js-question {
        position: relative;
        padding-left: 24px;
        display: inline-block;
        margin: 0;
        font-family: $font-bold;
        cursor: pointer;
        transition: margin-bottom .2s ease;

        &:hover {
            text-decoration: underline;
        }

        &:after {
            content: '+';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            font-size: $fontSize-base;
            color: $red;
        }

        &.open {
            margin-bottom: 16px;

            @media #{$tab-media} {
                margin-bottom: 20px;
            }

            &:after {
                content: '-';
            }
        }
    }

    &-answer {
        padding-left: 24px;
        display: none;
    }
}

.article-banner {
    position: relative;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    width: 100vw;

    h1.title-article {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: $white;
        margin: 0;
    }

    >div {
        position: relative;
        min-height: 240px;
        background-size: cover;
        background-position: center;
        margin: 0 auto;

        @media #{$desktop-media} {
            min-height: 360px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.33);
        }

        img {
            display: block;
        }
    }
}

.entry h4 {
    margin-top: 32px;

    @media #{$tab-media} {
        margin-top: 64px;
    }
}

.container .link-list {
    ul{
        margin: 0;
        li {
            list-style-type: none;
            padding: 0;
        }
    }
}