.button,
#cn-notice-buttons .cookie-btn {
  display: inline-block;
  background: $red;
  border: 2px solid $red;
  border-radius: 2px;
  padding: 14px 24px;
  color: $white;
  font-family: $font-bold;
  font-size: $fontSize-small;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;

  &:focus,&:hover {
    background: $dark-red;
    border-color: $dark-red;
    text-decoration: none;
  }
}

.button.bg,
#cn-notice-buttons .cookie-btn:last-child {
  background-color: transparent;
  color: $red;

  &:focus,&:hover {
    background-color: transparent;
    color: $dark-red;
  }
}