#cookie-notice.cn-effect-fade {
    box-shadow: 0px -2px 8px rgba($color: $black, $alpha: .12);

    .cookie-notice-container {
        margin: 0 auto;
        padding: 24px 16px;
        font-size: $fontSize-small;
        font-family: $font-bold;
        font-weight: bold;
        color: $grey-darker !important;
        line-height: $lineHeight-tight;
        @include flexbetween();
        text-align: left;

        @media #{$mob-media} {
            flex-wrap: wrap;
        }

        @media #{$desktop-media} {
            max-width: 1310px;
        }

        #cn-notice-text {
            margin: 3px 0;
        }
    }

    #cn-close-notice {
        display: block;
    }

    span {
        margin: 0;
    }

    #cn-notice-buttons {
        min-width: fit-content;
        margin-top: 16px;

        @media #{$tab-media} {
            margin: 0;
        }

        .cookie-btn {
            border: 2px solid $red;
            margin: 0;

            &:last-child {
                margin-left: 40px;
            }

            &:hover {
                box-shadow: inherit;
                border-color: $dark-red;
            }

            @media #{$tab-media} {
                margin-left: 40px;
            }
        }
    }
}