.footer {
    padding: 64px 0;
    background-color: $black;
    color: $grey;

    .container {
        padding: 0 32px;
    }

    a {
        color: $white;
    }

    .logo {
        max-width: 153px;
        margin-bottom: 64px;

        @media #{$tab-media} {
            margin-bottom: 0;
        }
    }

    &-topline {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 64px;
        text-align: center;

        @media #{$tab-media} {
            text-align: right;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &-contacts {
        p {
            font-size: $fontSize-small;
            margin-bottom: 18px;
            font-family: $font-bold;
        }
    }

    h4 {
        line-height: $lineHeight-tighter;
    }

    &-list-grid {
        display: flex;
        flex-wrap: wrap;

        >div {
            min-width: 176px;
            max-width: 200px;
            margin: 0 24px 40px 0;

            &:last-child {
                margin: 0 24px 0 0;
            }

            @media #{$mob-mediaS} {
                width: 100%;
                max-width: none;

                #nav_menu-4 li:first-child {
                    margin-top: 34px;
                }
            }

            @media #{$desktop-media} {
                width: 200px;
                margin-bottom: 0;
            }
        }

        @media #{$desktop-media} {
            #nav_menu-4 ul {
                margin-top: 37px;
            }
        }

        @media #{$desktop-media} {
            flex-wrap: nowrap;
        }

        h4,
        li {
            margin: 0 0 16px;
        }

        li {
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}