input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
.select {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid $light-grey;
    padding: 22px 0 10px;
    font-size: $fontSize-small;
    font-family: $font-base;
    color: $grey-darker;
    line-height: $lineHeight-tighter;
    -webkit-appearance: none;
    box-sizing: border-box; // redefine foundation content-box for search type

    &::placeholder {}

    &.wpcf7-not-valid {}

    &:focus {
        outline: none;
    }
}

textarea {
    resize: vertical;
    min-height: 56px;
}

.form-level {
    width: 100%;

    &:nth-child(2n) {
        margin-right: 0;
    }

    @media #{$tab-media} {
        width: calc(50% - 15px);
        margin-right: 15px;
    }

}

select {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 5;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    outline: none;
    height: 56px;
    width: 100%;
    background-color: transparent;
    font-family: $font-base;
    line-height: $lineHeight-tighter;
    font-size: $fontSize-small;
    color: $grey-darker;

    @media #{$tab-media} {
        top: 0;
        opacity: 0;
        visibility: hidden;
        height: auto;
        width: auto;
    }
}

.wpcf7-form-control-wrap {
    position: static;
}

.form-level {
    position: relative;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 20px;
    }

    label,
    .select {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        z-index: 1;
        transform: translate(0, -50%);
        font-family: $font-bold;
        line-height: $lineHeight-tighter;
        color: $grey;
        transition: top .2s ease;
    }

    .your-message+label {
        top: 18px;
        transform: none;
    }

    .your-message+label.active,
    label.active {
        top: 0;
        left: 0;
        z-index: 2;
        background-color: $white;
        transform: none;
        font-size: $fontSize-small-mob;
        line-height: $lineHeight-tightest-mob;
    }

}

.form-level:last-child {
    width: 100%;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
}

//select

.dropdown {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 56px;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:after {
        content: "";
        position: absolute;
        right: 5px;
        top: 35%;
        transform: rotate(45deg);
        width: 11px;
        height: 11px;
        border-right: 2px solid $red;
        border-bottom: 2px solid $red;
    }

    &.active:after {
        top: 50%;
        border: none;
        border-top: 2px solid $red;
        border-left: 2px solid $red;
    }
}

.dropdown .dropdown-menu {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 12px 0;
    margin: 0;
    background-color: $red;
    overflow: hidden;
    display: none;

}

.dropdown .select span {
    display: block;
    height: 22px;
    color: transparent;

    @media #{$tab-media} {
        font-family: $font-base;
        color: $grey-darker;
    }

}

.dropdown-menu li {
    padding: 0 24px;
    transition: background-color .2s ease-in-out;
    color: $white;
    line-height: 40px;
    cursor: pointer;

    &:focus,
    &:hover {
        outline: none;
        background-color: $dark-red;
    }
}

form>.form-level {
    width: 100%;
    margin-bottom: 20px;

    label {
        position: relative;
        transform: none;
    }

    input[type=checkbox] {
        position: absolute;
        top: 0;
        left: -999px;
        opacity: 0;
        visibility: hidden;

        &:checked+span {
            &:after {
                content: "\2713";
                border: 1px solid $red;
            }
        }
    }

    span {
        margin: 0;
    }

    .wpcf7-list-item-label {
        display: block;
        padding-left: 24px;
        position: relative;
        cursor: pointer;
        user-select: none;

        &:after {
            position: absolute;
            top: 6px;
            left: 0;
            @include flexcenter();
            width: 12px;
            height: 12px;
            border: 1px solid $grey;
            box-sizing: content-box;
            color: $red;
            font-weight: bold;
        }
    }

}