.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    background-color: $white;
    padding: 16px 0;
    transition: all .3s ease;

    @media #{$desktop-media} {
        padding: 32px 0;
    }

    >div {
        display: flex;
        align-items: center;
        padding: 0;

        @media #{$desktop-media} {
            padding: 0 40px;
            flex-direction: column;
            align-items: flex-start;
        }

        @media #{$desktop-mediaXL} {
            padding: 0 16px;
        }
    }

    &-topline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 2;
        flex-grow: 3;
        padding-right: 16px;
        margin-left: 20px;

        a {
            display: block;
        }

        @media #{$tab-media} {
            padding-right: 40px;
        }

        @media #{$desktop-media} {
            width: 100%;
            padding: 0;
            margin: 0 0 30px;
        }
    }

    &-logo {
        max-width: 66px;

        img {
            display: block;
        }

        @media #{$tab-media} {
            max-width: 133px;
        }
    }

    &-contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        a {
            font-size: $fontSize-small-mob;
            color: $red;

            @media #{$tab-media} {
                font-size: $fontSize-small;
            }
        }

        a:first-child {
            position: relative;
            margin-right: 20px;
            font-family: $font-bold;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: -10px;
                height: 100%;
                width: 1px;
                color: $grey;
                background-color: $light-grey;
                transform: translate(0, -50%);
            }

            @media #{$tab-media} {
                color: $grey-darker;
                font-family: $font-base;
            }
        }

        a:last-child {
            color: $red;
        }
    }

    .main-navigation {
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        height: 100vh;
        max-height: 100vh;
        min-width: 335px;
        z-index: 50;
        background-color: $white;
        transform: translateX(-360px);
        transition: transform .3s ease-in-out;
        overflow-y: auto;
        padding-bottom: 160px;

        @media #{$desktop-media} {
            position: static;
            height: auto;
            width: auto;
            padding: 0;
            display: flex;
            background-color: transparent;
            transform: none;
            overflow-y: inherit;
        }

        >li {
            position: relative;

            @media #{$desktop-media} {
                line-height: $lineHeight-tighter;
                margin-right: 35px;
                padding-right: 16px;
            }

            @media #{$desktop-mediaL} {
                margin-right: 48px;
            }

            >a {
                display: block;
                line-height: $lineHeight-tightest;
                padding: 22px 26px 22px 48px ;

                @media #{$desktop-media} {
                    padding: 0;
                }
            }
        }

        .menu-item-has-children {
            >a {
                position: relative;
                display: inline-block;
                

                &:after {
                    content: '+';
                    position: absolute;
                    top: 50%;
                    left: 32px;
                    transform: translate(0, -50%);
                    font-size: $fontSize-small;
                    color: $red;

                    @media #{$desktop-media} {
                        content: '›';
                        right: 0;
                        left: auto;
                    }
                }

                @media #{$desktop-media} {
                    padding-right: 13px;
                    display: block;

                    &:after {
                        content: '›';
                        right: 0;
                        left: auto;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 38px;
                    left: 24px;
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: $red;
                    transform: rotate(-45deg);
                    opacity: 0;
                    transition: opacity .1s linear;
                }

            }
        }

        .menu-item-has-children>a.active {
            &:after {
                content: '–';
            }

            @media #{$desktop-media} {
                &:after {
                    content: '×';
                }

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    .header-burger.active~.main-navigation {
        transform: translateX(0);
    }

    &-menu {
        position: relative;
        order: 1;
        padding-left: 20px;

        @media #{$tab-media} {
            padding-left: 40px;
        }

        @media #{$desktop-media} {
            order: 2;
            padding-left: 0;
        }

        .sub-menu {
            display: none;
            width: 100%;
            padding: 0;
            background-color: $lighter-grey;
            z-index: 1000;

            li {
                padding: 22px 16px 22px 48px;
            }

            @media #{$desktop-media} {
                position: absolute;
                top: calc(100% + 20px);
                left: 0;
                width: 280px;
                padding: 12px 0;
                background-color: $red;

                li {
                    padding: 4px 0;
                    &:hover {
                        background-color: $dark-red;
                    }
                }
            }

            a {
                display: block;
                line-height: $lineHeight-tightest;

                @media #{$desktop-media} {
                    padding: 0 24px;
                    line-height: $lineHeight-h4;
                    color: $white;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        a.active~.sub-menu:after {
            opacity: 1;
        }
    }

    &-burger {
        position: relative;
        width: 20px;
        height: 16px;
        cursor: pointer;

        @media #{$tab-media} {
            width: 33px;
            height: 29px;
        }

        .bar,
        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $red;
            transition: all 0.4s ease-in-out;

            @media #{$tab-media} {
                height: 3px;
            }
        }

        .bar1 {
            transform-origin: 3%;
        }

        .bar2 {
            top: auto;
            bottom: 0;
            width: 16px;
            transform-origin: -2%;

            @media #{$tab-media} {
                width: 23px;
                transform-origin: -15%;
            }
        }

        &:after,
        &:before {
            top: 7px;
            width: 18px;

            @media #{$tab-media} {
                top: 13px;
                width: 28px;
            }
        }

        &:hover {

            .bar,
            &:after {
                background-color: $dark-red;
            }
        }

        @media #{$desktop-media} {
            display: none;
        }
    }

    &-burger.active {

        .bar1,
        &:after {
            transform: rotate(45deg);
        }

        .bar2,
        &:before {
            transform: rotate(-45deg);
        }

        .bar1,
        .bar2 {

            width: 100%;
        }

        &:after,
        &:before {
            background-color: transparent;
        }
    }
}

.home .header {
    background-color: transparent;
}

.header.out {
    transform: translateY(-100%);
}

.header.bg {
    background-color: $white;
    box-shadow: 0px -2px 8px rgba($color: $black, $alpha: .12);
}