.welcome-block {
    background-size: cover;
    background-position: bottom right;
    background-position: 78%;
    padding: 96px 0 174px;

    @media #{$tab-media} {
        background-position: bottom right;
        padding: 276px 0 73px;
        height: auto;
    }

    p {
        max-width: 620px;
        margin: 16px 0 32px;
        font-size: $fontSize-baseL-mob;
        line-height: $lineHeight-h4-mob;

        @media #{$tab-media} {
            margin: 32px 0 64px;
            font-size: $fontSize-baseL;
            line-height: $lineHeight-h4;
        }
    }

    .button {
        margin: 0 40px 20px 0;
        @media #{$tab-media} {
            margin-bottom: 40px;
        }
    }

    .bg {
        margin-right: 0;
    }
}

.news {
    &-block {
        @media #{$tab-media} {
            @include flexbetween();
            align-items: flex-end;
        }
    }

    &-image {
        flex-grow: 4;
        width: 100%;
        max-width: fit-content;

        @media #{$tab-media} {
            margin-bottom: 0;
            max-width: 848px;
        }

        img {
            display: block;
        }
    }

    &-content {
        max-width: 416px;
        margin-left: 0;
        flex-grow: 2;

        @media #{$tab-media} {
            margin-left: 16px;
        }


        h2 {
            margin: 8px 0 24px;

            @media #{$desktop-media} {
                margin: 16px 0 32px;
            }
        }
    }
}

.news-category {
    margin: 24px 0 8px;
    color: $red;
    display: block;
    font-family: $font-bold;
    font-size: $fontSize-small;
    line-height: $lineHeight-tightest;
    text-transform: uppercase;
    @media #{$desktop-media} {
        margin: 0 0 16px;
        line-height: $lineHeight-tighter;
    }
}

.assortment {
    &-block {
        max-width: 1310px;
        margin: 0 auto 40px;

        @media #{$desktop-media} {
            margin-bottom: 32px;
        }

        @media #{$desktop-media} {
            margin-bottom: 48px;
        }

        >p {
            margin: 16px 0 24px;

            @media #{$desktop-media} {
                margin: 32px 0 48px;
                font-size: $fontSize-base;
            }
        }
    }

    &-grid {
        margin-top: 24px;

        @media #{$tab-media} {
            display: flex;
            flex-wrap: wrap;
        }

        >div {
            position: relative;
            width: 100%;
            margin-bottom: 16px;

            @media #{$tab-media} {
                width: calc(50% - 8px);
                margin-right: 16px;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            @media #{$desktop-media} {
                width: calc(33.3% - 11px);
                margin-bottom: 16px;

                &:nth-child(2n) {
                    margin-right: 16px;
                }

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;

                @media #{$tab-media} {
                    margin-bottom: 32px;
                }

                @media #{$desktop-media} {
                    margin-bottom: 16px;
                }
            }

            p {
                position: absolute;
                right: 36px;
                bottom: 16px;
                z-index: 3;
                padding-left: 36px;
                font-size: $fontSize-baseL-mob;
                font-family: $font-bold;
                text-transform: uppercase;
                color: $white;
                word-break: break-all;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 96px;
            background-size: cover;

            @media #{$desktop-media} {
                height: 128px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $black, $alpha: 0.4);
                z-index: 1;
            }
        }
    }
}


.news {
    &-title {
        margin-bottom: 32px;

        @media #{$tab-media} {
            margin-bottom: 48px;
        }
    }

    &-list {
        margin-bottom: 64px;

        @media #{$tab-media} {
            display: flex;
            margin-bottom: 129px;
        }

        >div:first-child {
            position: relative;

            @media #{$tab-media} {
                width: 70%;
                padding-right: 39px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    background-color: $light-grey;
                }
            }
        }

        .button {
            margin-top: 40px;

            @media #{$tab-media} {
                margin-top: 48px;
            }
        }
    }

    &-grid {
        >div {
            margin-bottom: 24px;

            @media #{$tab-media} {
                display: flex;
                align-items: flex-end;
                margin-bottom: 32px;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }

        .img-trianglу {
            width: 100%;
            height: 128px;
            background-size: cover;

            @media #{$tab-media} {
                min-width: 280px;
                max-width: 280px;
                height: 140px;
            }

            img {
                max-height: 128px;

                @media #{$tab-media} {
                    max-height: none;
                }
            }
        }

    }

    &-text {
        @media #{$tab-media} {
            margin-left: 16px;
        }

        h3 {
            margin: 8px 0 0;

            @media #{$desktop-media} {
                margin: 16px 0 0;
            }
        }

        a:not(.news-category) {
            font-size: $fontSize-baseL-mob;
            line-height: $lineHeight-h4-mob;
            font-family: $font-base;
            font-weight: normal;

            @media #{$desktop-media} {
                font-size: $fontSize-baseL;
                line-height: $lineHeight-h4;
            }
        }
    }

    &-filter {
        margin-top: 48px;

        div {
            margin-bottom: 40px;
        }

        div:last-child {
            margin-bottom: 0;
        }

        @media #{$tab-media} {
            width: 30%;
            margin-top: 0;
            padding-left: 40px;
        }

        h3 {
            margin: 0 0 24px;
            font-family: $font-base;
            font-weight: normal;
            font-size: $fontSize-baseL;
            line-height: $lineHeight-h4;
        }

        a {
            color: $red;

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            a {
                text-transform: capitalize;
            }
            li {
                margin-bottom: 13px;
            }
        }
    }
}

.month-hide-btn {
    display: none;
    position: relative;
    padding-left: 20px;
    color: $red;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 4px;
        width: 6px;
        height: 6px;
        border-right: 2px solid $red;
        border-bottom: 2px solid $red;
        transform: translate(0, -50%) rotate(45deg)
    }

    &:hover {
        text-decoration: underline;
    }
}