.plumbing {
    &-image-block {
        margin: 48px 0 24px;

        @media #{$tab-media} {
            display: flex;
            margin: 72px 0 64px;
        }

        div:first-child {
            text-align: center;
            margin: 0 auto 32px;
            max-width: 98px;

            @media #{$tab-media} {
                max-width: none;
                margin: 15px 0 0;
                padding: 0 55px 0 10px;
            }

            figure {
                margin: 0;
            }

        }
    }
    >h3 {
        margin: 0 0 16px;
    
        @media #{$tab-media} {
            font-size: $fontSize-baseL;
            margin: 0 0 32px;
        }
    }
    
    h2 {
        margin: 48px 0 16px;
    
        @media #{$tab-media} {
            margin: 68px 0 32px;
        }
    }
    &-table {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -1px;
            z-index: 2;
            width: 32px;
            height: 100%;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    
            @media #{$tab-media} {
                display: none;
            }
        }
    }
}
article figure.wp-block-table {
    width: 100%;
    position: relative;
    margin: 0 0 32px;

    @media #{$tab-media} {
        margin: 0 0 62px;
    }

    table {
        max-width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
        position: relative;

        tbody th,
        tbody td {
            padding: 12px 24px;
            border: 1px solid $light-grey;
            text-align: start;
        }

        tbody td {
            font-family: $font-base;
            width: 33.33%;
        }

        tbody tr:nth-child(2n+1) {
            background: $lighter-grey;
        }

        tbody tr:first-child {
            background-color: transparent;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            height: 100%;
            width: 20px;
            border: 1px solid rgba(217, 217, 217, .5);
            border-left: none;

            @media #{$tab-media} {
                display: none;
            }
        }

    }
}

.wp-block-table+figure.wp-block-image {
    margin: 32px 0;
}

.wp-block-table+h4 {
    margin-bottom: 16px;

    @media #{$tab-media} {
        margin-bottom: 32px;
    }
}

figure+.attachmnet-block {
    margin-top: 32px;

    @media #{$tab-media} {
        margin-top: 131px;
    }
}

.catalog {
    margin-top: 32px;

    @media #{$tab-media} {
        margin-top: 92px;
    }

    >div {

        h3 {
            margin-top: 8px;
        }

        >p {
            margin-bottom: 16px;

            @media #{$tab-media} {
                margin-bottom: 32px;
            }
        }
    }

    h3 {
        margin-top: 24px;
    }
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(50% - 8px);
        margin: 0 16px 24px 0;
        border: 1px solid #D9D9D9;
        padding: 15px;
        word-break: break-all;

        &:nth-child(2n) {
            margin-right: 0;
        }

        @media #{$tab-media} {
            width: calc(25% - 12px);
            margin: 0 16px 40px 0;

            &:nth-child(2n) {
                margin-right: 16px;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        p {
            font-size: $fontSize-small;
            line-height: $lineHeight-tightest;
            font-family: $font-bold;
            margin: 16px 0 0;
            flex-grow: 2;
        }

        a:first-child {
            height: 96px;
            display: block;
            text-align: center;

            img {
                max-height: 100%;
            }
        }
    }
}

.attachmnet-block {
    h2 {
        margin-top: 24px;

        @media #{$desktop-media} {
            margin-top: 28px;
        }
    }

    h4 {
        margin: 24px 0 16px;

        @media #{$desktop-media} {
            margin: 48px 0 32px;
        }
    }

    .catalog-list {
        >div {
            a:last-child {
                display: block;
                margin-top: 10px;

                @media #{$desktop-media} {
                    margin-top: 18px;
                }
            }
        }

    }
}

.tax-product_category {
    .entry {
        margin-top: 40px;

        @media #{$desktop-media} {
            margin-top: 64px;
        }

        h2 {
            margin: 0 0 16px;

            @media #{$desktop-media} {
                margin: 0 0 32px;
            }
        }
    }

    .attachmnet-block {
        margin-top: 40px;

        @media #{$desktop-media} {
            margin-top: 64px;
        }
    }

    #assortment {
        margin: 48px 0;

        @media #{$desktop-media} {
            margin: 80px 0 122px;
        }
    }
}

.category-list {
    margin-bottom: 8px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        color: $red;
    }

    .button {
        color: $white;
    }


    @media #{$tab-media} {
        margin-bottom: 16px;
    }

    >div:first-child {
        margin-bottom: 48px;

        @media #{$desktop-media} {
            float: left;
            width: 70%;
            margin-bottom: 0;
            padding-right: 40px;
        }
    }

    .attachmnet-block {
        h2 {
            margin: 0 0 32px;

            @media #{$desktop-media} {
                margin: 0 0 64px;
            }
        }
    }

    .catalog-sidebar {
        @media #{$desktop-media} {
            position: relative;
            float: right;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: $light-grey;
            }
        }

        @media #{$desktop-media} {
            width: 30%;
            margin-top: 0;
            padding-left: 40px;
        }

        .catalog-list {
            display: block;
            margin-bottom: 32px;

            @media #{$tab-media} {
                display: flex;
            }

            @media #{$desktop-media} {
                display: block;
                margin-bottom: 64px;
            }

            >div {
                display: block;
                width: 100%;
                margin: 0 0 50px 0;

                @media #{$tab-media} {
                    width: calc(50% - 16px);
                }

                @media #{$desktop-media} {
                    display: block;
                    width: 100%;
                    margin: 0 0 64px 0;
                }

                a:first-child {
                    float: left;
                    width: 128px;
                    height: 128px;
                    margin-right: 16px;

                    @media #{$tab-media} {
                        margin: 0 auto;
                    }

                    @media #{$desktop-media} {
                        margin: 0 16px 0 0;
                    }

                    img {
                        height: 100%;
                    }

                }

                a:last-child {
                    margin-top: 8px;
                }

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                p {
                    max-height: 80px;
                    overflow: hidden;
                }
            }

        }

        ul {
            li {
                margin-bottom: 16px;

                @media #{$desktop-media} {
                    margin-bottom: 24px;
                }
            }
        }

        .attachmnet-block,
        h4 {
            margin: 0;
        }

        h4 {
            font-family: $font-base;
            font-weight: normal;
            font-size: $fontSize-baseL-mob;
            line-height: $lineHeight-tight;
            margin-bottom: 16px;

            @media #{$desktop-media} {
                font-size: $fontSize-baseL;
                line-height: $lineHeight-h4;
                margin-bottom: 32px;
            }
        }
    }

    .catalog-list {
        margin-bottom: 0;

        @media #{$desktop-media} {
            margin-bottom: 24px;
        }
    }
}

.page article.cataloger-page {
    margin-bottom: 24px;

    @media #{$desktop-media} {
        margin-bottom: 88px;
    }
}