/*redirect page*/

.redirect {
    &-block {
        text-align: center;
        max-height: 100vh;

        p {
            margin: 32px 0 24px;
            font-size: $fontSize-baseL-mob;

            &:last-child {
                margin-bottom: 0
            }

            @media #{$desktop-media} {
                font-size: $fontSize-baseL;
                margin: 40px 0;
            }
        }

        a {
            color: $red;
            font-weight: normal;
            font-family: $font-base;
        }
    }

    &-image {
        @include flexcenter();
        align-items: flex-start;

        div {
            &:first-child {
                max-width: 100px;
                margin: 10px 64px 0 0;

                @media #{$desktop-media} {
                    margin-right: 88px;
                }
            }

            &:last-child {
                max-width: 104px;
            }
        }
    }
}

body.redirect-page {
    padding: 0;
    display: block;

    .entry-content {
        @include flexcenter();
        height: 100%;
    }
}

.page .article-container {
    margin-bottom: 48px;

    @media #{$tab-media} {
        margin-bottom: 132px;
    }
}

.logo-tiles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;

    @media #{$tab-media} {
        padding: 0 20px;
    }

    >div {
        width: calc(50% - 20px);
        margin-right: 39px;
        max-height: 138px;
        @include flexcenter();

        &:nth-child(2n) {
            margin-right: 0;
        }

        img {
            display: block;
        }

        @media #{$tab-media} {
            width: calc(25% - 22px);
            margin-right: 29px;

            &:nth-child(2n) {
                margin-right: 29px;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

/*contact-page*/
.employee-block {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 32px;

    @media #{$tab-media} {
        margin: 64px 0 98px;
    }

    >div {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        @media #{$tab-media} {
            width: calc(50% - 8px);
            margin-right: 16px;
            margin: 0 16px 32px 0;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:last-child {
                margin-bottom: 32px;
            }
        }
    }

    &__image {
        max-width: 120px;
        align-self: center;

        &:before,
        &:after {
            max-width: 15%;
        }

        img {
            display: block;
        }
    }

    &__content {
        margin-left: 24px;

        p {
            font-size: $fontSize-base-mob;
            line-height: $lineHeight-tighter;
            margin-bottom: 0;

            &:nth-child(2) {
                font-family: $font-bold;
                margin-bottom: 8px;
            }
        }

        a {
            font-family: $font-base;
            line-height: $lineHeight-tighter;
        }

        .employees_phone_number {
            display: block;
            font-family: $font-base;
            color: $grey-darker;
        }
    }
}

/*About GGcarat page*/
.history_year {
    font-size: $fontSize-baseL-mob;
    line-height: $lineHeight-h4-mob;
    margin-bottom: 8px;

    @media #{$tab-media} {
        font-size: $fontSize-baseL;
        line-height: $lineHeight-h4;
    }
}

.news-list {
    .back-button {
        display: block;
        color: $red;
        margin-bottom: 32px;
    }
    h2 {
        margin-bottom: 16px;
    }
}