$black: #000;
$white: #fff;
$font-base: #2E2E2D;

$primary: #2E2E2D;
$blue-dark: #003D72;
$blue-grey: #4B667A;
$grey-light: #E4E8EB;
$grey: #ABABAB;
$grey-hovered: #A5B3BD;
$red: #AE002B;
$grey-line: #A1A5B2;
$gold: #DDB349;
