body {
  margin: 0;
  color: $font-base;
  font-family: $font-montserrat-rg;
  padding-top: 135px;
  @media #{$tab-media} {
    padding-top: 155px;
  }
  @media #{$tab-media-minM} {
    padding-top: 250px;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  &.show-menu {
    overflow-y: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  color: $primary;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;

  @media #{$tab-media} {
    padding: 0 30px;
    max-width: 860px;
    margin: 0 auto;
  }

  @media #{$desktop-mediaL} {
    max-width: 1180px;
  }

  @media #{$desktop-mediaXL} {
    max-width: 1380px;
  }

  &-sc {
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;

    @media #{$tab-media} {
      padding: 0 20px;
      max-width: 992px;
      margin: 0 auto;
    }

    @media #{$desktop-mediaL} {
      max-width: 1220px;
    }

    @media #{$desktop-mediaXL} {
      max-width: 1420px;
    }
  }
}

.container-fluid {
  max-width: 1920px;
}

h1, h4, h5 {
  font-family: $font-montserrat-md;
  font-weight: 500;
}

h2, h3 {
  font-family: $font-montserrat-lt;
  font-weight: 300;
}

h1, h2 {
  font-size: $fontSize-mob-larger;
  line-height: $lineHeight-base;

  @media #{$tab-media} {
    font-size: $fontSize-larger;
  }
}

h3 {
  font-size: $fontSize-mob-baseL;
  line-height: $lineHeight-base;

  @media #{$tab-media} {
    font-size: $fontSize-large;
  }
}

h4 {
  font-size: $fontSize-mob-large;
  line-height: $lineHeight-base;
  color: $primary;

  @media #{$tab-media} {
    font-size: $fontSize-large;
  }
}

h5 {
  font-size: $fontSize-mob-baseL;
  line-height: $lineHeight-base;
  color: $blue-dark;

  @media #{$tab-media} {
    font-size: $fontSize-largeS;
  }
}

p {
  font-family: $font-montserrat-rg;
  margin-bottom: 16px;
  font-size: $fontSize-mob-base;
  line-height: $lineHeight-base;

  @media #{$tab-media} {
    margin-bottom: 24px;
  }
}

.strapline {
  background: #003D72;
  color: white;
  text-align: center;
  padding: 6px;
  font-size: 16px;
  line-height: 19px;
  @media #{$tab-media} {
    padding: 10px;
    font-size: 27px;
    line-height: 33px;
  }
}

.entry-title {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;

  @media #{$tab-media} {
    padding: 0 30px;
    max-width: 860px;
    margin: 20px auto 0;
  }

  @media #{$desktop-mediaL} {
    max-width: 1180px;
  }

  @media #{$desktop-mediaXL} {
    max-width: 1380px;
  }
}
