$desktop-pointXL: 1440px;
$desktop-pointL: 1280px;
$desktop-point: 1025px;
$tab-point: 767px;
$tab-pointL: 992px;
$tab-pointML: 974px;
$mob-pointL: 641px;
$mob-point: 600px;
$extra-Mobpoint: 450px;
$mob-pointXS: 375px;

$screen: "only screen";

$mob-mediaXS: "#{$screen} and (min-width:#{$mob-pointXS})";

$mob-mediaS: "#{$screen} and (min-width:#{$extra-Mobpoint})";

$mob-media: "#{$screen} and (max-width:#{$tab-point})";

$mob-media-minW-minH: "#{$screen} and (max-height: #{$mob-pointXS})";

$mob-media-minH: "#{$screen} and (min-width:#{$mob-point}) and (max-height: #{$extra-Mobpoint})";

$mob-media-min: "#{$screen} and (min-width:#{$mob-point})";

$mob-mediaL-min: "#{$screen} and (min-width:#{$mob-pointL})";

$tab-media-max: "#{$screen} and (max-width:#{$tab-pointL})";

$tab-media-min: "#{$screen} and (min-width:#{$tab-pointL})";

$tab-media-maxM: "#{$screen} and (max-width:#{$tab-pointML})";

$tab-media-minM: "#{$screen} and (min-width:#{$tab-pointML})";

$tab-media: "#{$screen} and (min-width:#{$tab-point})";

$desktop-media: "#{$screen} and (min-width:#{$desktop-point})";

$desktop-mediaL: "#{$screen} and (min-width:#{$desktop-pointL})";

$desktop-mediaXL: "#{$screen} and (min-width:#{$desktop-pointXL})";
