// Wrap the YouTube/Viemo video in a div with a class embed-container requires responsive-video.php to function
// Normal URLs must be used not embed codes
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  } 