//FONT FAMILIES
$font-montserrat-rg: 'Montserrat Regular', Helvetica, Arial;
$font-montserrat-lt: 'Montserrat Light', Helvetica, Arial;
$font-montserrat-md: 'Montserrat Medium', Helvetica, Arial;
$font-montserrat-exb: 'Montserrat ExtraBold', Helvetica, Arial;


//FONT SIZES
$fontSize-xsmall: 1rem;          //10px
$fontSize-small: 1.2rem;         //12px
$fontSize-baseS: 1.4rem;         //14px
$fontSize-base: 1.6rem;          //16px
$fontSize-baseL: 1.8rem;         //18px
$fontSize-largeS: 2rem;         //20px
$fontSize-large: 2.4rem;        //24px
$fontSize-largest: 2.7rem;      //27px
$fontSize-largestL: 3.0rem;      //30px
$fontSize-larger: 4.5rem;       //45px

//MOB FONT SIZES
$fontSize-mob-xsmall: .9rem;         //9px
$fontSize-mob-small: 1rem;           //10px
$fontSize-mob-baseS: 1.2rem;         //12px
$fontSize-mob-base: 1.4rem;          //14px
$fontSize-mob-baseL: 1.6rem;         //16px
$fontSize-mob-largeS: 1.8rem;         //18px
$fontSize-mob-large: 2rem;           //20px
$fontSize-mob-largest: 2.1rem;       //21px
$fontSize-mob-larger: 3rem;         //30px

$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-extrabold: 800;

//LINE HEIGHTS
$lineHeight-baseS: 1.2;
$lineHeight-base: 1.375;


@font-face {
  font-family: 'Montserrat Regular';
  src: url('../font/montserrat/montserrat-regular-webfont.eot');
  src: local('Montserrat Regular'),
  url('../font/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/montserrat/montserrat-regular-webfont.woff') format('woff'),
  url('../font/montserrat/montserrat-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../font/montserrat/montserrat-light-webfont.eot');
  src: local('Montserrat Light'),
  url('../font/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/montserrat/montserrat-light-webfont.woff') format('woff'),
  url('../font/montserrat/montserrat-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../font/montserrat/montserrat-medium-webfont.eot');
  src: local('Montserrat Medium'),
  url('../font/montserrat/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/montserrat/montserrat-medium-webfont.woff') format('woff'),
  url('../font/montserrat/montserrat-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('../font/montserrat/montserrat-extrabold-webfont.eot');
  src: local('Montserrat ExtraBold'),
  url('../font/montserrat/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/montserrat/montserrat-extrabold-webfont.woff') format('woff'),
  url('../font/montserrat/montserrat-extrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
