/*
Use this to limit the width of and center a container to a default width of 820px
The default value can be changed below or updated when used
USAGE: 
.default-width { @include limited-width; }
.custom-width { @include limited-width(1000px); }
*/

@mixin limited-width($width: 820px) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px; 
}

// Break an item out of the limited width flow of the document use @extend %full-width;
%full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}