/* 
A useful site wide default transition property with a default speed and transition
USAGE:
Include the mixin with or without a speed then define the transition propertie(s) 
you wish to target 

.default { @include transition; transition-property:color;}
.custom-speed { @include transition(1s); transition-property:color;}
*/
@mixin transition($speed: .14s) {
    transition-duration: $speed;
    transition-timing-function: ease-in-out;
}