.accordion {
  padding: 40px 0;
  height: auto;
  overflow: hidden;
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  &__item {
    width: 100%;
    height: auto;
    overflow: hidden;
    &-title {
      position: relative;
      padding: 12px 0;
      font-family: $font-montserrat-lt;
      font-size: $fontSize-mob-large;
      line-height: $lineHeight-base;
      color: $primary;
      border-bottom: 1px dashed $grey-line;
      cursor: pointer;
      @media #{$tab-media-minM} {
        font-size: $fontSize-largest;
      }
      .title-arrow {
        content: '';
        position: absolute;
        top: 20px;
        right: 15px;
        width: 24px;
        height: 24px;
        transition: transform .3s ease-in-out;
        &:before, &:after {
          content: '';
          position: absolute;
          top: 10px;
          width: 12px;
          height: 3px;
          border-radius: 2px;
          background: $primary;
          @media #{$tab-media-minM} {
            top: 10px;
          }
        }
        &:before {
          transform: rotate(45deg);
          right: 12px;
        }
        &:after {
          transform: rotate(315deg);
          right: 4px;
        }
        &.show {
          transform: rotateX(180deg);
        }
      }
    }
    &-content {
      display: none;
      height: auto;
      overflow: hidden;
      margin-bottom: 20px;
      .content {
        &__name {
          margin: 12px 0 20px;
          font-family: $font-montserrat-md;
          font-size: $fontSize-mob-large;
          line-height: $lineHeight-base;
          color: $primary;
          @media #{$tab-media-minM} {
            font-size: $fontSize-large;
          }
        }
        &__download {
          @media #{$tab-media-minM} {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 -20px;
          }
          &-col {
            margin-bottom: 16px;
            padding: 10px 15px;
            background: $grey-light;
            p {
              margin-bottom: 10px;
              font-family: $font-montserrat-md;
              font-size: $fontSize-base;
              color: $blue-dark;
            }
            @media #{$tab-media-minM} {
              padding: 20px 24px;
              width: 50%;
              margin: 0 20px 20px;
            }
          }
          &-link {
            display: inline-flex;
            align-items: center;
            font-family: $font-montserrat-exb;
            font-size: $fontSize-baseS;
            line-height: $lineHeight-baseS;
            color: $blue-dark;
            cursor: pointer;
            svg {
              fill: $blue-dark;
              margin-right: 10px;
              width: 18px;
            }
            &:hover {
              color: $grey-hovered;
              svg {
                fill: $grey-hovered;
              }
            }
          }
        }
        &__info {
          margin-bottom: 20px;
          @media #{$tab-media-minM} {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 -20px 20px;
          }
          &-col {
            p {
              margin-bottom: 10px;
              font-family: $font-montserrat-rg;
              font-size: $fontSize-base;
              line-height: $lineHeight-baseS;
              color: $primary;
              span {
                font-family: $font-montserrat-md;
              }
            }
            @media #{$tab-media-minM} {
              margin: 0 20px;
              width: 50%;
            }
          }
        }
        &__button {
          display: flex;
          .btn {
            padding: 10px 40px;
          }
        }
      }
    }
    &.open {
      .accordion__item-content {
        display: block;
      }
    }
  }
}
