.breadcrumb {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-family: $font-montserrat-md;
  font-size: $fontSize-mob-small;
  color: $grey-hovered;
  a {
    font-family: $font-montserrat-md;
    font-size: $fontSize-mob-small;
    color: $grey-hovered;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    font-size: $fontSize-mob-small;
    @media #{$tab-media} {
      font-size: $fontSize-small;
    }
  }
  &_last {
    font-size: $fontSize-mob-small;
    color: $primary;
    @media #{$tab-media} {
      font-size: $fontSize-small;
    }
  }
  @media #{$tab-media} {
    a{
      font-size: $fontSize-small;
    }
  }
}
