.btn {
  display: flex;
  padding: 10px 15px;
  margin: 0 auto;
  min-width: 210px;
  min-height: 40px;
  color: $white;
  font-size: $fontSize-base;
  line-height: $lineHeight-base;
  font-family: $font-montserrat-exb;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  background: $blue-dark;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease-in-out;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  &:hover {
    color: $white;
    background: $grey-hovered;
    text-decoration: none;
  }
  &--gold {
    background: $gold;
    &:hover {
      background: $blue-grey;
    }
  }
}
