.site-footer {
    // .container-sc {
    //     padding: 0 18px;
    //     @media #{$tab-media-minM} {
    //         padding: 0 31px;
    //     }
    // }
    // a {
    //     text-decoration: none;
    // }
    // &__top-menu {
    //     background: #4B667A;
    //     padding: 18px 0 0;
    //     @media #{$tab-media-minM} {
    //         padding: 18px 0 20px;
    //     }
    //     .container-sc {
    //         display: none;
    //         @media #{$tab-media-minM} {
    //             display: block;
    //         }
    //     }
    // }  
    // &__inner {
    //     background: #003D72;
    // }
    // &__logo {
    //     width: 254px;
    //     height: 77px;
    //     display: block;
    //     font-size: 0;
    //     background: url(../images/logo-white.svg) center / cover no-repeat;
    // }
    // &__first-lvl {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-between;
    //     align-items: flex-start;
    //     padding: 24px 0 7px;
    // }
    // &__sec-lvl, &__sec-inner {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-between;
    // }
    // &__sec-inner {
    //     &.imgs {
    //         width: 100%;
    //         margin: 23px -22px -17px 0;
    //         justify-content: center;
    //         @media #{$tab-media-minM} {
    //             max-width: 420px;
    //             margin: 0 -22px -22px 0;
    //             justify-content: flex-start;
    //         }
    //     }
    // }
    // &__sec-lvl {
    //     align-items: center;
    //     margin: 20px 0 0;
    //     @media #{$tab-media-minM} {
    //         margin: 0;
    //     }
    //     img {
    //         max-width: 82px;
    //         max-height: 53px;
    //         margin: 0 22px 17px 0;
    //         width: auto;
    //         height: auto;
    //         @media #{$tab-media-minM} {
    //             margin: 0 22px 22px 0;
    //         }
    //     }
    // }
    // &__thr-lvl {
    //     display: flex;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     justify-content: flex-end;
    //     text-align: right;
    //     padding: 42px 0 18px;
    //     @media #{$tab-media-minM} {
    //         padding: 48px 0 22px;
    //         justify-content: space-between;
    //     }
    //     p {
    //         margin: 0;
    //     }
    //     p, a {
    //         color: #A5B3BD;
    //         font-size: 10px !important;
    //         line-height: 13px;
    //     }
    //     li {
    //         margin-bottom: 8px;
    //         @media #{$tab-media-minM} {
    //             margin-bottom: 0;
    //             margin-right: 32px;
    //         }
    //         &:last-child {
    //             margin-right: 0;
    //         }
    //         a {
    //             text-align: right !important;
    //             @media #{$tab-media-minM} {
    //                 text-align: left !important;
    //             }
    //         }
    //     }
    // }
    // &__sec-inner {
    //     width: 100%;
    //     @media #{$tab-media-minM} {
    //         width: auto;
    //     }
    //     p {
    //         font-size: 16px;
    //         line-height: 23px;
    //         letter-spacing: 0px;
    //         color: #A5B3BD;
    //         margin-bottom: 0;
    //         a {
    //             color: inherit;
    //         }
    //     }
    //     .site-footer__icons-menu {
    //         margin: 20px auto;
    //     }
    // }
    // &__sec-info {
    //     width: 100%;
    //     margin-bottom: 20px;
    //     @media #{$tab-media-minM} {
    //         margin-bottom: 0;
    //         margin-right: 46px;
    //         width: auto;
    //         max-width: 277px;
    //     }
    //     &:last-child {
    //         margin-right: 0;
    //     }
    // }
    // &__icons-menu {
    //     a {
    //         max-width: 21px;
    //         max-height: 21px;
    //         margin-right: 26px;
    //         &:last-child {
    //             margin-right: 0;
    //         }
    //     }
    //     img {
    //         max-width: 25px;
    //         max-height: 25px;
    //         margin: 0;
    //         transition: filter .1s ease-out;
    //         &:hover {
    //             filter: brightness(0) invert(1);
    //         }
    //     }
    // }
    .footer__menu, .footer_bottom__menu {
        display: block;
        list-style: none;
        width: 100%;
        @media #{$tab-media-minM} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: auto;
        }
        
    }
    .footer_bottom__menu {
        justify-content: flex-start;
    }
    .nav-link {
        padding: 0;
        text-align: center;
        span {
            color: white;
            font-size: 16px;
            line-height: 19px;
            margin: 8px 0 0;
            width: 100%;
            max-width: 100px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
        }
        img {
            margin: 0;
            max-width: 22px;
            max-height: 22px;
        }
    }
}

.m {
    &-show {
        display: block;
        margin: 0 auto;
        @media #{$tab-media-minM} {
            display: none;
        }
    }
    &-hide {
        display: none;
        @media #{$tab-media-minM} {
            display: block;
        }
    }
}

.site-info {
    a {
        display: block;
        margin-top: 8px;
        @media #{$tab-media-minM} {
            margin: 0;
            display: inline-block;
        }
    }
}