.gform_heading {
  display: none;
}
.gfield {
  margin-top: 18px !important;
  padding: 0 !important;
}
.gfield_label {
  font-family: $font-montserrat-rg !important;
  font-size: $fontSize-mob-base !important;
  font-weight: 400 !important;
  color: $primary !important;
  @media #{$mob-media-min} {
    font-size: $fontSize-base !important;
  }
  span {
    color: $red !important;
  }
}
.ginput_container {
  margin-top: 0 !important;
  &.ginput_container_fileupload {
    input[type="file"] {
      border-radius: 4px;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      font-family: "Montserrat ExtraBold";
      font-size: 1.6rem;
      line-height: 24px;
      color: white;
      transition: background .1s ease-out;
      min-width: 210px;
      margin-bottom: 0;
      padding: 8px 70px !important;
      background: #003D72;
      cursor: pointer;
      width: auto !important;
      &:hover {
        background: #A5B3BD;
      }
    }
  }
  input {
    padding: 10px !important;
    min-height: 40px !important;
    border: 1px solid $grey-line !important;
    outline: none;
    &:hover, &:focus {
      outline: none;
    }
  }
  label {
    display: none !important;
  }
}
.gform_footer {
  display: flex;
  margin-top: 40px !important;
  margin-bottom: 100px !important;
  @media #{$mob-mediaL-min} {
    margin-top: 16px !important;
  }
  input[type='submit'] {
    display: flex;
    padding: 10px 15px;
    min-width: 210px;
    min-height: 40px;
    color: $white;
    font-size: $fontSize-base !important;
    line-height: $lineHeight-base;
    font-family: $font-montserrat-exb;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    background: $gold;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    &:hover {
      color: $white;
      background: $blue-grey;
      text-decoration: none;
    }
  }
}
.m-checkbox {
  position: absolute;
  bottom: -75px;
  .ginput_container {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      margin-right: 10px;
      border-radius: 0;
      border: 1px solid $grey-line;
    }
    label {
      display: flex !important;
      margin-bottom: 0;
    }
  }
  .gfield_description {
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: auto !important;
    border: none !important;
    font-size: $fontSize-xsmall !important;
  }
}

.gform_wrapper.gravity-theme .m-cst-file {
  label.gfield_label {
    display: block;
    width: 100%;
    font-size: $fontSize-base !important;
    line-height: 23px !important;
    font-weight: bold !important;
    font-family: "Montserrat Medium" !important;
    margin-bottom: 32px;
  }
  .gfield_description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    color: $blue-dark;
    font-size: $fontSize-baseS;
    line-height: 18px;
    font-family: $font-montserrat-exb;
    transition: color .1s ease-out;
    margin: 0;
    &:before {
      content: '';
      background: url(/wp-content/themes/bishop-wilkinson/src/assets/images/file-ic.svg) center / cover no-repeat;
      width: 19px;
      height: 22px;
      align-items: center;
      margin-right: 15px;
    }
  }
}