.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 600;
  @media #{$tab-media-minM} {
    position: absolute;
  }
  &-wrapper {
    position: relative;
    z-index: 620;
    padding: 16px 10px 10px;
    background: $white;
    @media #{$tab-media-minM} {
      padding: 16px 30px 10px;
    }
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      .logo-mob {
        width: 75px;
        @media #{$tab-media-minM} {
          display: none;
        }
      }
      .logo-desktop {
        display: none;
        @media #{$tab-media-minM} {
          display: block;
          width: 250px;
        }
      }
    }
    &__social-wrapper {
      display: flex;
      align-items: center;
    }
    &__social {
      display: none;
      @media #{$tab-media-minM} {
        display: block;
      }

      &-item {
        @media #{$tab-media-minM} {
          margin-right: 24px;
          img {
            width: 20px;
            max-height: 20px;

            &:hover {
              text-decoration: none;
              filter: invert(.85) sepia(.2) saturate(2) hue-rotate(175deg);
            }
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .container {
    position: relative;
  }
  &__translate {
    position: absolute;
    top: 18px;
    right: 70px;
    background: $white;
    @media #{$tab-media-minM} {
      position: inherit;
    }
    .prisna-gwt-align-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      border: 1px solid $primary;
      border-radius: 6px;
      @media #{$tab-media-minM} {
        background: no-repeat url("../images/ico-google.png");
        width: 190px;
        height: 34px;
      }
    }
    .goog-te-gadget {
      width: 100%;
    }
    .goog-te-gadget-simple {
      width: 100%;
      border: none;
      background: transparent;
    }
    .goog-te-gadget-icon {
      display: none;
    }
    .goog-te-menu-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 15px 0 10px;
      white-space: initial;
      line-height: 1;
      @media #{$tab-media-minM} {
        margin-left: 40px;
      }
      &:hover {
        text-decoration: none;
      }
      span {
        border: none !important;
      }
      span:last-child {
        position: relative;
        color: $white !important;
        &:before, &:after {
          content: '';
          position: absolute;
          top: 6px;
          width: 10px;
          height: 2px;
          background: $primary;
        }
        &:before {
          transform: rotate(45deg);
          left: -4px;
          @media #{$tab-media-minM} {
            left: -2px;
          }
        }
        &:after {
          transform: rotate(315deg);
          right: 2px;
          @media #{$tab-media-minM} {
            right: 0;
          }
        }
      }
    }
  }
}
.goog-te-menu-frame {
  width: 300px !important;
  overflow-x: scroll !important;
  @media #{$tab-media-minM} {
    width: 600px !important;
  }
  @media #{$desktop-mediaL} {
    width: 1046px !important;
  }
}
.navbar {
  padding: 0;
  @media #{$tab-media-minM} {
    margin: 0 -30px 15px;
    background: $white;
  }
  &-collapse {
    @media #{$mob-media-minW-minH} {
      height: calc(100vh - 100px);
      margin-bottom: 215px;
    }
  }
  &-menu {
    width: 100%;
    z-index: 610;
    @media #{$tab-media-maxM} {
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100vw;
      background: $blue-dark;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      padding-left: calc(50vw - 50%);
      padding-right: calc(50vw - 50%);
      transition: all .5s ease-in-out;
      overflow: hidden;
    }
    @media #{$mob-media-minW-minH} {
      top: -150vh;
    }
    @media #{$tab-media-minM} {
      background: $white;
    }
    &.show {
      @media #{$tab-media-maxM} {
        top: -5px;
        overflow: scroll;
      }
    }
  }
  &-nav {
    width: 100%;
    padding: 0 15px;
    height: calc(100vh - 100px);
    flex-direction: column !important;
    @media #{$mob-media-minW-minH} {
      height: auto;
      padding-bottom: 200px;
    }
    @media #{$tab-media-minM} {
      padding: 0;
      justify-content: space-between;
      flex-direction: row !important;
      background: none;
      height: auto;
    }
  }
  &-mob {
    position: absolute;
    top: -85px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 630;
    @media #{$tab-media-minM} {
      display: none;
    }
    &__toggler {
      position: relative;
      width: 48px;
      height: 48px;
      background: transparent;
      border: none;
      &:before, &:after, span:before, span:after {
        content: '';
        position: absolute;
        right: 6px;
        width: 36px;
        height: 4px;
        border-radius: 2px;
        background: $primary;
        transition: all .3s ease-in-out;
      }
      &:before {
        top: 12px;
      }
      &:after {
        bottom: 12px;
      }
      span:before, span:after {
        top: 22px;
      }
      &.is-active {
        span:before {
          transform: rotate(45deg);
        }
        span:after {
          transform: rotate(135deg);
        }
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 0;
        }
      }
      &-triangle {
        content: '';
        position: absolute;
        bottom: -23px;
        right: 14px;
        width: 20px;
        height: 10px;
        background: $white;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          bottom: -30px;
          right: 0;
          width: 20px;
          height: 20px;
          background: $blue-dark;
          transform: rotate(45deg);
          transition: all .5s ease-in-out;
        }
        &.show {
          &:before {
            bottom: -14px;
          }
        }
      }
    }
    &__title {
      font-family: $font-montserrat-md;
      font-size: $fontSize-mob-baseS;
      line-height: $lineHeight-baseS;
      color: $primary;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
  .menu-item {
    padding: 12px calc(50vw - 50%) 10px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    border-bottom: 2px solid $grey-hovered;
    &:last-child {
      @media #{$mob-media-minW-minH} {
        margin-bottom: 140px;
      }
    }
    @media #{$mob-mediaXS} {
      padding-top: 18px;
      padding-bottom: 16px;
    }
    @media #{$tab-media} {
      padding-top: 24px;
      padding-bottom: 20px;
    }
    @media #{$tab-media-minM} {
      display: flex;
      align-items: center;
      padding: 0;
      max-width: 120px;
      margin: 0 5px;
      border: none;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .nav-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: $font-montserrat-md;
      font-size: $fontSize-mob-largeS;
      line-height: $lineHeight-baseS;
      font-weight: 600;
      color: $white;
      @media #{$tab-media-minM} {
        flex-direction: column;
        color: $primary;
        font-size: $fontSize-base;
        text-align: center;
      }
      img {
        width: 22px;
        max-height: 22px;
        margin: 0 20px 0 0;
        filter: invert(1);
        @media #{$tab-media-minM} {
          margin: 0 0 10px;
          filter: none;
        }
      }
      span {
        display: flex;
        align-items: center;
        height: 38px;
        overflow: hidden;
      }
      &:hover {
        color: $grey-hovered;
        img {
          filter: invert(.85) sepia(.2) saturate(2) hue-rotate(175deg);
        }
      }
    }
  }
  .navbar-menu__social {
    &-wrapper {
      position: relative;
      padding: 0 15px;
      width: 100%;
      box-sizing: border-box;

      @media #{$tab-media} {
        padding: 0 30px;
        max-width: 860px;
        margin: 0 auto;
      }
      @media #{$desktop-mediaXL} {
        max-width: 1380px;
      }
    }
    &-mob {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      @media #{$mob-mediaXS} {
        bottom: 24px;
      }
      @media #{$mob-media-minW-minH} {
        position: relative;
        left: 0;
        bottom: -54px;
      }
      @media #{$mob-media-minH} {
        position: relative;
        left: 0;
        bottom: 0;
      }
      @media #{$tab-media} {
        position: absolute;
        padding: 0 20px;
      }
      @media #{$tab-media-minM} {
        display: none;
      }
      .site-header__social-item {
        margin: 12px;
        img {
          width: 26px;
          max-height: 26px;
          filter: invert(.85) sepia(.2) saturate(2) hue-rotate(175deg);
          &:hover {
            text-decoration: none;
            filter: invert(1);
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


body{
  background:green;
}