// Basic social media button styles customise to fit your needs

.social {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    &__icon {
      margin-right: 0.875rem;
      height: 30px;
      position: relative;
      text-align: center;
      width: 30px;
      border-radius: 0.2rem;
      margin-right: 0.5rem;
      transition-property: background-color;
      @include transition;
  
      &:last-child {
        margin-right: 0;
      }
  
      &:hover {
  
        .social__icon-svg {
        }
      }
    }
  
    svg {
      position: relative;
      height: 20px;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &__icon-svg {
      vertical-align: middle;
      width: 100%;
      transition-property: color;
      @include transition;
    }
  }
  