.subscribe {
  margin: 0 calc(50% - 50vw);
  padding: 40px calc(50vw - 50%);
  background: $grey-light;
  &-description {
    margin-bottom: 30px;
    font-family: $font-montserrat-md;
    font-size: $fontSize-mob-large;
    line-height: $lineHeight-base;
    @media #{$tab-media-minM} {
      font-size: $fontSize-large;
    }
  }
  &-field {
    label {
      width: 100%;
      font-family: $font-montserrat-rg;
      font-size: $fontSize-mob-base;
      line-height: $lineHeight-base;
      color: $primary;
      span {
        color: $red;
      }
      @media #{$tab-media-minM} {
        font-size: $fontSize-base;
      }
      input {
        padding: 10px;
        width: 100%;
        margin-top: 10px;
        height: 44px;
        border: 1px solid $grey-hovered;
        &:hover, &:focus, &:focus-visible {
          outline: none;
        }
      }
    }
  }
  &-button {
    input[type="submit"] {
      width: 210px ;
      height: 40px;
      color: $white;
      font-size: $fontSize-base;
      line-height: $lineHeight-base;
      font-family: $font-montserrat-exb;
      border: none;
      border-radius: 4px;
      background: $blue-grey;
      text-decoration: none;
      transition: all .3s ease-in-out;
      text-transform: uppercase;
      &:hover {
        background: $grey-hovered;
        text-decoration: none;
      }
    }
  }
  &-terms {
    input[type="checkbox"] {
      margin-right: 10px;
    }
  }
}

.m-rgt {
  text-align: right;
  display: block;
  margin: 10px 0 15px;
  width: 100%;
  @media #{$tab-media-minM} {
    margin: 10px 0 -39px;
  }
  span {
    color: $red;
  }
}