

.m-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    @media #{$tab-media-minM} {
        flex-direction: row;
    }
}

.m-fl-clmn {
    width: 100%;
    @media #{$tab-media-minM} {
        width: 48.25%;
    }
    p {
        font-size: $fontSize-base !important;
        line-height: 24px;
        margin-bottom: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            margin-bottom: 20px;
            @media #{$tab-media-minM} {
                margin-bottom: 0;
            }
        }
    }
}

.main-content__block {
    margin: 0 calc(50% - 50vw);
    padding: 25px calc(50vw - 50%) 26px;
    @media #{$tab-media-minM} {
        padding: 33px 0 26px;
      h4 {
        font-size: $fontSize-large;
      }
    }
    h4 {
        color: #003D72;
    }
    color: #000;
    &-heading {
        text-align: center;
        font-size: $fontSize-largestL !important;
        line-height: 37px;
        font-family: $font-montserrat-md;
        color: inherit;
        margin-bottom: 18px;
        @media #{$tab-media-minM} {
            font-size: $fontSize-larger !important;
            line-height: 55px;
            margin-bottom: 31px;
        }
    }
    &-divider {
        font-size: 0;
        margin: 0 0 23px;
        border-bottom: 1px dashed $grey-line;
        @media #{$tab-media-minM} {
            margin: 0 0 35px;
        }
    }
    &-description {
      h4 {
        margin-bottom: 10px;
      }
      margin-bottom: 0;
      p {
        margin-bottom: 0;
        img {
            margin-bottom: 21px;
            max-width: 290px;
            max-height: 166px;
            @media #{$tab-media-minM} {
                margin-bottom: 44px;
                max-width: inherit;
                max-height: inherit;
            }
        }
      }
    }
    &-author {
        margin-top: 22px;
        p {
            margin-bottom: 0;
            font-weight: 600;
            font-family: $font-montserrat-md;
            justify-content: flex-start;
        }
    }
    &-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
      a {
        margin: 0;
      }
      &.center {
        justify-content: center;
      }
      &.left {
          justify-content: flex-start;
      }
      &.right {
          justify-content: flex-end;
      }
    }
    &-feachured-image {
        width: 100%;
        max-height: 210px;
        margin-bottom: 22px;
        @media #{$tab-media-minM} {
            margin-bottom: 0;
            width: 368px;
            max-height: 280px;
        }
        @media #{$desktop-mediaL} {
            width: 478px;
            max-height: 350px;
        }
        img {
            object-fit: cover;
            height: auto;
            width: 100%;
            max-height: inherit;
            max-width: inherit;
            display: block;
            margin: 0 auto;
            @media #{$tab-media-minM} {
                height: 100%;
                width: 100%;
            }
        }
    }
    p {
        color: inherit;
    }
    &.m-not-divider {
        .main-content__block-heading {
            font-weight: 300;
            font-family: $font-montserrat-lt;
        }
    }
    &.img-align-left {
        .m-flex {
            .main-content__block-feachured-image {
                order: 0;
            }
            .main-content__block-fr {
                order: 1;
            }
            .m-fl-clmn {
                order: 2;
            }
        }
    }
    &.img-align-right {
        .m-flex {
            .main-content__block-feachured-image {
                order: 0;
                @media #{$tab-media-minM} {
                    order: inherit;
                }
            }
            .main-content__block-fr {
                order: 1;
                @media #{$tab-media-minM} {
                    order: inherit;
                }
            }
            .m-fl-clmn {
                order: 2;
                @media #{$tab-media-minM} {
                    order: inherit;
                }
            }
        }
    }
    .size-full {
      width: 100%;
      height: auto;
    }
}
