.contact {
    padding: 60px 0 72px;
    @media #{$tab-media-minM} {
        padding: 40px 0 90px;
    }
    &-title {
        font-size: $fontSize-largestL;
        line-height: 37px;
        text-align: center;
        display: block;
        margin: 62px 0 20px;
        @media #{$tab-media-minM} {
            margin: 46px 0 30px;
            font-size: $fontSize-larger;
            line-height: 55px;
        }
    }
    &-map {
        margin-bottom: 42px;
        height: 398px;
        background: blue;
        @media #{$tab-media-minM} {
            margin-left: calc(-100vw / 2 + 100% / 2);
            margin-right: calc(-100vw / 2 + 100% / 2);
        }
    }
    &-form__row-ext {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 23px;
        button {
            border-radius: 4px;
            background: transparent;
            border: none;
            padding: 8px 70px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Montserrat ExtraBold";
            font-size: $fontSize-base;
            line-height: 24px;
            color: white;
            transition: background .1s ease-out;
            margin-bottom: 15px;
            min-width: 210px;
            background: $gold;
            order: 1;
            &:hover {
                background: $blue-grey;
            }
            @media #{$tab-media-minM} {
                order: 0;
            }
        }
        .common-form__rqr {
            width: 100%;
            order: 0;
            margin: 0 0 22px;
            @media #{$tab-media-minM} {
                margin: 0;
                width: auto;
                order: 1;
            }
        }
    }
    .m-chk {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        input {
            margin-right: 7px;
            width: 15px;
            height: 15px;
        }
        label {
            margin: 0;
        }
        p, label {
            font-size: $fontSize-xsmall;
            line-height: 13px;
        }
        p {
            width: 100%;
            display: block;
            margin-top: 12px;
        }
    }
}