.download-pdf {
    &__block {
        margin-bottom: 80px;
        @media #{$tab-media-minM} {
            margin-bottom: 90px;
        }
        &-heading {
            font-size: $fontSize-largestL !important;
            line-height: 37px;
            letter-spacing: 0px;
            margin-bottom: 2px;
            text-align: center;
            font-weight: 300;
            @media #{$tab-media-minM} {
                font-size: $fontSize-larger !important;
                line-height: 55px;
            }
        }
        &-title {
            font-size: $fontSize-largeS;
            line-height: 27px;
            max-width: 185px;
            @media #{$mob-mediaS} {
                max-width: 100%;
            }
            @media #{$tab-media-minM} {
                font-size: $fontSize-largest;
                line-height: 33px;
            }
        }
        &-file {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: $fontSize-baseS;
            line-height: 18px;
            font-family: $font-montserrat-exb;
            i {
                width: 19px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
            }
            a {
                color: $blue-dark;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                transition: color .1s ease-out;
                &:hover {
                    color: $grey-line;
                    text-decoration: none;
                    svg {
                        * {
                            fill: $grey-line;
                        }
                    }
                }
                svg * {
                    transition: color .1s ease-out;
                }
                span {
                    display: none;
                    @media #{$tab-media-minM} {
                        display: block;
                    }
                }
            }
        }
        &-btn {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            i {
                width: 19px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 14px;
            }
            &:hover {
                color: $grey-line;
                text-decoration: none;
                svg {
                    * {
                        fill: $grey-line;
                    }
                }
            }
            svg * {
                transition: color .1s ease-out;
            }
        }
    }
    &__wrap {
        border-bottom: 1px dashed $grey-line;
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.posts-common.m-dwn {
    padding-top: 0;
    .posts-image {
        justify-content: flex-start;
        height: 195px;
        @media #{$tab-media-minM} {
            height: 220px;
        }
        img {
            max-width: 140px;
            width: 100%;
            height: 100%;
            @media #{$tab-media-minM} {
                max-width: 220px;
            }
        }
    }
    .posts-title {
        font-family: $font-montserrat-md;
        border-bottom: 1px dashed $grey-line;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    h2 {
        font-size: $fontSize-largestL !important;
        line-height: 37px;
        letter-spacing: 0px;
        margin-bottom: 16px;
        text-align: center;
        font-weight: 300;
        @media #{$tab-media-minM} {
            font-size: $fontSize-larger !important;
            line-height: 55px;
        }
    }
}