.expression {
  padding: 40px 0;
  &-teaser {
    margin-bottom: 15px;
    font-family: $font-montserrat-md;
    font-size: $fontSize-mob-large;
    line-height: $lineHeight-base;
    color: $primary;
    @media #{$mob-media-min} {
      font-size: $fontSize-large;
    }
  }
  &-description {
    p {
      font-size: $fontSize-base;
      margin-bottom: 6px;
    }
  }
  &-form {
    position: relative;
    &-required {
      position: absolute;
      bottom: 105px;
      right: 0;
      font-family: $font-montserrat-rg;
      font-size: $fontSize-mob-base;
      span {
        color: $red;
      }
      @media #{$mob-mediaL-min} {
        bottom: 55px;
      }
    }
  }
}
