.filter-category-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 44px;
    .btn {
        width: 100%;
        margin: 0 0 10px;
        @media #{$tab-media-minM} {
            max-width: 255px;
            margin: 0;
        }
        @media #{$desktop-mediaL} {
            max-width: 355px;
        }
        @media #{$desktop-mediaXL} {
            max-width: 415px;
        }
        &:not(.active) {
            background: #a5b3bd;
        }
    }
}

.results-and-awards-list {
    margin-bottom: 44px;
    .m-listing__wrapper {
        .post-item {
            width: 100%;
            margin: 0;
            margin-bottom: 39px;
            @media #{$tab-media-minM} {
                max-width: 255px;
                margin-right: 17.5px;
                margin-bottom: 44px;
            }
            @media #{$desktop-mediaL} {
                max-width: 355px;
                margin-right: 27.5px;
            }
            @media #{$desktop-mediaXL} {
                max-width: 415px;
                margin-right: 37.5px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }        
    }
}