.governed {
  padding: 40px 0;
  font-family: $font-montserrat-rg;
  font-size: $fontSize-base;
  line-height: $lineHeight-base;
  color: $primary;
  p {
    font-family: $font-montserrat-rg;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    color: $primary;
  }
  &-image {
    margin-bottom: 40px;
    &__title {
      margin-bottom: 40px;
      font-family: $font-montserrat-md;
      font-size: $fontSize-mob-largeS;
      color: $primary;
      text-align: center;
      @media #{$tab-media-minM} {
        font-size: $fontSize-large;
      }
    }
    &__image {
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }
  &-description {
    @media #{$tab-media-minM} {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px;
    }
    @media #{$desktop-mediaL} {
      margin: 0 -20px;
    }
    &__col {
      width: 100%;
      margin-bottom: 40px;
      @media #{$tab-media-minM} {
        width: 50%;
        margin: 0 10px 50px;
      }
      @media #{$desktop-mediaL} {
        margin: 0 20px 50px;
      }
    }
    .description {
      &-title {
        margin-bottom: 18px;
        font-family: $font-montserrat-md;
        font-size: $fontSize-mob-largeS;
        color: $blue-dark;
        @media #{$tab-media-minM} {
          margin-bottom: 16px;
          font-size: $fontSize-large;
        }
      }
      &-content {
        margin-bottom: 20px;
        p {
          margin-bottom: 10px;
          font-size: $fontSize-base;
        }
        ul {
          margin: 8px 0 15px 20px;
          font-size: $fontSize-base;
          li {
            margin-bottom: 8px;
          }
        }
        strong {
          font-family: "Montserrat Medium";
        }
      }
      &-members {
        &__title {
          margin-bottom: 5px;
          font-family: $font-montserrat-md;
          font-weight: 600;
          font-size: $fontSize-base;
        }
        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 14px 0;
          border-bottom: 1px dashed $grey-line;
          font-size: $fontSize-base;
          a {
            text-transform: uppercase;
            color: $blue-dark;
            text-decoration: none;
            &:hover {
              color: $grey-hovered;
            }
          }
        }
      }
    }
  }
  &-info {
    @media #{$tab-media-minM} {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px;
    }
    @media #{$desktop-mediaL} {
      margin: 0 -20px;
    }
    &__col {
      width: 100%;
      margin-bottom: 40px;
      @media #{$tab-media-minM} {
        width: 50%;
        margin: 0 10px 50px;
      }
      @media #{$desktop-mediaL} {
        margin: 0 20px;
      }
      .info {
        &-title {
          margin-bottom: 18px;
          font-family: $font-montserrat-md;
          font-size: $fontSize-base;
          color: $blue-dark;
          @media #{$tab-media-minM} {
            margin-bottom: 16px;
            font-size: $fontSize-large;
          }
        }
        &-content {
          margin-bottom: 20px;
          p {
            margin-bottom: 10px;
            font-size: $fontSize-base;
          }
        }
        &-contacts {
          margin: 0 calc(50% - 50vw);
          padding: 24px calc(50vw - 50%) 9px;
          background: $grey-light;
          @media #{$tab-media-minM} {
            margin: 0;
            padding: 24px 24px 9px;
          }
          &__title {
            font-family: $font-montserrat-md;
            font-size: $fontSize-large;
            line-height: $lineHeight-baseS;
            color: $primary;
            margin-bottom: 20px;
          }
          &__item {
            margin-bottom: 20px;
            font-size: $fontSize-base;
            &-position, &-name {
              margin-bottom: 4px;
            }
            a {
              font-family: $font-montserrat-md;
              font-weight: 700;
              color: $primary;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}


.tax-governance {
  h2 {
    text-align: center;
    margin: 31px 0;
    font-weight: 300;
    font-family: $font-montserrat-lt;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .profile {
      width: 100%;
      margin: 0 0 40px;
      @media #{$tab-media-minM} {
        max-width: 255px;
      }
      @media #{$desktop-mediaL} {
        max-width: 355px;
        margin: 0 0 90px;
      }
      @media #{$desktop-mediaXL} {
        max-width: 415px;
      }
      &__column.m-photo {
        max-width: 100%;
        img {
          object-fit: cover;
          height: auto;
          width: 100%;
        }
      }
    }
  }
}