.job {
    .wp-block-pullquote {
        padding: 1em 0;
    }
    p {
        margin-bottom: 10px;
    }
    strong, h3, h4, h5, h6 {
        font-family: $font-montserrat-md;
        font-weight: bold;
    }
    h4 {
        font-size: $fontSize-largeS;
        line-height: 27px;
        margin-bottom: 18px;
        @media #{$tab-media-minM} {
            font-size: $fontSize-large;
            line-height: 33px;
            margin-bottom: 25px;
        }
    }
    h5, h6 {
        margin-bottom: 14px;
    }
    h5 {
        font-size: $fontSize-baseL;
        line-height: 24px;
        color: black;
        margin-bottom: 14px;
        @media #{$tab-media-minM} {
            font-size: $fontSize-largeS;
            line-height: 27px;
        }
    }
    h6 {
        font-size: $fontSize-base;
        line-height: 23px;
    }
    ul {
        margin-bottom: 40px;
        li {
            margin-bottom: 10px;
            margin-left: 15px;
            font-size: $fontSize-base;
            line-height: 23px;
        }
    }
    &-dvd {
        margin-bottom: 40px;
    }
    &-descr__bg {
        padding: 40px 0;
        margin-top: 45px;
        background: $grey-light;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media #{$tab-media-minM} {
            padding: 45px 0;
            margin-top: 55px;
        }
        &:before, &:after {
            content: '';
            width: 1000%;
            background: $grey-light;
            height: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
        }
        &:before {
            left: -100%;
        }
        &:after {
            right: -100%;
        }
        p {
            font-size: $fontSize-base;
            line-height: 23px;
        }
        &-title {
            text-align: center;
            display: block;
            font-size: $fontSize-largestL;
            line-height: 37px;
            margin-bottom: 25px;
            width: 100%;
            font-family: $font-montserrat-lt;
            @media #{$tab-media-minM} {
                font-size: $fontSize-larger;
                line-height: 55px;
                margin-bottom: 45px;
            }
        }
        &-column {
            width: 100%;
            @media #{$tab-media-minM} {
                width: 48.125%;
            }
        }
    }
    &-main__descr {
        margin: 40px 0 80px;
        @media #{$tab-media-minM} {
            margin: 60px 0 90px;
        }
        p {
            font-size: $fontSize-base;
            line-height: 23px;
            margin-bottom: 0;
            @media #{$tab-media-minM} {
                font-size: $fontSize-largeS;
                line-height: 27px;
            }
        }
    }
    &-file {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 32px;
        @media #{$tab-media-minM} {
            margin-bottom: 45px;
        }
        &__name {
            display: block;
            width: 100%;
            font-size: $fontSize-base;
            line-height: 23px;
            font-weight: bold;
            font-family: "Montserrat Medium";
            margin-bottom: 32px;
        }
        &__btn {
            border-radius: 4px;
            background: transparent;
            border: none;
            padding: 8px 60px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Montserrat ExtraBold";
            font-size: $fontSize-base;
            line-height: 24px;
            color: white;
            transition: background .1s ease-out;
            margin-bottom: 15px;
            min-width: 210px;
            @media #{$tab-media-minM} {
                margin-bottom: 0;
                padding: 8px 70px;
            }
            &.upl {
                background: $blue-dark;
                margin-right: 26px;
                &:hover {
                    background: $grey-hovered;
                }
            }
            &.snd {
                background: $gold;
                &:hover {
                    background: $blue-grey;
                }
            }
        }
        &__notice {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            color: $blue-dark;
            font-size: $fontSize-baseS;
            line-height: 18px;
            font-family: $font-montserrat-exb;
            transition: color .1s ease-out;
            margin: 14px 0 12px;
            &:hover {
                color: $grey-line;
                text-decoration: none;
                svg {
                    * {
                        fill: $grey-line;
                    }
                }
            }
            svg * {
                transition: color .1s ease-out;
            }
            i {
                width: 19px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
            }
        }
    }
}

#content {
    overflow-x: hidden;
}

.i-rqrd {
    font-style: normal;
    color: $red;
}

.common-form {
    h3 {
        margin-bottom: 25px;
    }
    p {
        font-size: $fontSize-base;
        line-height: 23px;
        margin-bottom: 0;
        width: 100%;
    }
    &__sub {
        font-size: $fontSize-largeS;
        line-height: 27px;
        font-weight: bold;
        margin-bottom: 14px;
        display: block;
        @media #{$tab-media-minM} {
            font-size: $fontSize-large;
            line-height: 33px;
        }
    }
    form {
        margin-top: 50px;
        @media #{$tab-media-minM} {
            margin-top: 36px;
        }
    }
    &__row {
        margin-bottom: 9px;
        @media #{$tab-media-minM} {
            margin-bottom: 16px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        label {
            font-size: $fontSize-baseS;
            line-height: 18px;
            @media #{$tab-media-minM} {
                font-size: $fontSize-base;
                line-height: 23px;
            }
        }
        input {
            width: 100%;
            border: 1px solid $grey-line;
            min-height: 36px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            font-size: $fontSize-baseS;
            line-height: 18px;
            margin-top: 8px;
            @media #{$tab-media-minM} {
                min-height: 44px;
                font-size: $fontSize-base;
                line-height: 23px;
            }
        }
    }
    &__rqr {
        font-size: $fontSize-baseS;
        line-height: 18px;
        margin-top: 10px;
        display: block;
        text-align: right;
        margin-bottom: 32px;
        @media #{$tab-media-minM} {
            font-size: $fontSize-base;
            line-height: 23px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        i {
            font-style: normal;
            color: $red;
            margin-right: 5px;
        }
    }
}