
.main-slider {
    position: relative;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    &__inner {
        overflow: hidden;
    }
    &__image {
        min-height: 142px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media #{$tab-media-minM} {
            min-height: 424px;
        }
    }
    &__text {
        background: $blue-grey;
        color: white;
        padding: 20px 0 60px;
        font: normal normal 300 21px/25px $font-montserrat-rg;
        height: 232px;
        @media #{$tab-media-minM} {
            padding: 30px 58.5px 73px;
            font: normal normal 300 27px/33px $font-montserrat-rg;
            height: 170px;
        }
        .container {
            height: 100%;
        }
        span {
            overflow: hidden;
            height: 100%;
            display: block;
        }
    }
    &__pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        z-index: 3;
        left: 0; 
        right: 0;
        bottom: 27px;
        @media #{$tab-media-minM} {
            bottom: 35px;
        }
        span {
            width: 10px;
            height: 10px;
            background: #FFFFFF;
            opacity: 0.4;
            display: block;
            margin-right: 12px;
            transition: opacity .1s ease-out;
            border-radius: 100%;
            cursor: pointer;
            @media #{$tab-media-minM} {
                width: 12px;
                height: 12px;
            }
            &:last-child {
                margin-right: 0;
            }
            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}