.entry-content {
  .container {
    h2 {
      text-align: center;
      margin: 31px 0;
    }
    .wp-block-image {
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }
}
.main-content__block-fr.m-fl-clmn {
  margin-bottom: 10px;
}
