.pagination {
  font-family: $font-montserrat-lt;
  font-size: $fontSize-base;
  line-height: $lineHeight-baseS;
  color: $primary;
  margin-bottom: 90px;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    margin: 0 14px;
    cursor: pointer;
    &--prev, &--next, &--first, &--last {
      display: flex;
      align-items: center;
      img {
        margin: 0 12px;
        width: 20px;
        height: auto;
      }
    }
    &--first {
      margin-right: 0;
    }
    &--last {
      margin-left: 0;
    }
    &--page {
      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        margin: 0;
        font-weight: 700;
        color: $white;
        width: 25px;
        height: 25px;
        border-radius: 14px;
        background: $blue-dark;
        font-family: $font-montserrat-exb;
      }
    }
  }
}
