.post {
    .entry-meta {
        .posted-on {
            font-size: $fontSize-baseS;
            line-height: 18px;
            padding: 47px 0 14px;
            margin-bottom: 20px;
            border-bottom: 1px dashed $grey-line;
            display: block;
            @media #{$tab-media-minM} {
                padding: 40px 0 14px;
            }
            a {
                color: inherit;
            }
        }
    }
    article {
        max-width: 610px;
        margin: 0 auto;
        @media #{$desktop-mediaXL} {
            max-width: 1180px;
        }
    }
    &-title {
        font-size: $fontSize-largeS;
        line-height: 28px;
        font-family: $font-montserrat-md;
        font-weight: bold;
        margin-bottom: 20px;
        display: block;
        @media #{$tab-media-minM} {
            font-size: 28px;
            line-height: 36px;
        }
    }
    &-thumbnail {
        margin-bottom: 20px;
        max-height: 290px;
        @media #{$tab-media-minM} {
            max-height: 462px;
            margin-bottom: 38px;
        }
    }
    &-sub {
        font-size: $fontSize-largeS;
        line-height: 28px;
        font-family: $font-montserrat-md;
        margin-bottom: 20px;
        font-weight: bold;
        display: block;
        @media #{$tab-media-minM} {
            margin-bottom: 35px;
        } 
    }
    &-social {
        font-family: $font-montserrat-md;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        margin-top: 19px;
        span {
            display: block;
            width: 100%;
            margin-bottom: 15px;
        }
        i {
            margin-right: 30px;
            min-width: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 22px;
        }
    }
    .entry-content {
        font-family: "Montserrat Medium";
        font-size: $fontSize-base;
        line-height: 23px;
        p {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.news-list {
    .news-list-wrapper.m-listing__wrapper {
        justify-content: flex-start;
    }
    .post-item {
        width: 100%;
        margin: 0 0 40px;
        @media #{$tab-media-minM} {
          max-width: 255px;
          margin-right: 17.5px;
        }
        @media #{$desktop-mediaL} {
          max-width: 355px;
          margin: 0 0 90px;
          margin-right: 27.5px;
        }
        @media #{$desktop-mediaXL} {
          max-width: 415px;
          margin-right: 37.5px;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        .post-item__image {
          max-width: 100%;
          img {
            object-fit: cover;
            height: auto;
            width: 100%;
          }
        }
        &__date {
            padding: 15px 0;
            font-size: $fontSize-xsmall;
            line-height: 13px;
            border-bottom: 1px dashed $grey-line;
            margin-bottom: 18px;
        }
    }
    .posts-title {
        margin-bottom: 15px;
    }
}