.posts {
    &-common {
        padding: 30px 0;
        margin-left: calc(-100vw / 2 + 100% / 2);
        margin-right: calc(-100vw / 2 + 100% / 2);
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-between;
        }
        .swiper-slide {
            @media #{$tab-media-minM} {
                max-width: 255px;
            }
            @media #{$desktop-mediaL} {
                max-width: 355px;
            }
            @media #{$desktop-mediaXL} {
                max-width: 415px;
            }
        }
        .swiper-wrapper {
            @media #{$tab-media-minM} {
                justify-content: space-between;
            }
        }
        h2 {
            text-align: center;
            font-size: $fontSize-larger;
            line-height: 55px;
            margin-bottom: 30px;
            font-weight: 500;
            font-family: $font-montserrat-rg;
            color: $font-base;
        }
        &.post-type {
            padding-bottom: 15px;
        }
    }
    &-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        img {
            object-fit: cover;
            height: auto;
            width: 100%;
        }
    }
    &-date {
        padding: 15px 0;
        font-size: $fontSize-xsmall;
        line-height: 13px;
        border-bottom: 1px dashed $grey-line;
        margin-bottom: 18px;
    }
    &-title {
      margin-bottom: 2px;
      font-size: $fontSize-base;
      line-height: 23px;
      font-weight: 600;
      text-decoration: none;
      width: 100%;
      display: block;
      color: $font-base;
      font-family: $font-montserrat-md;
      &-wrapper {
        margin-bottom: 10px;
        padding: 15px 0 10px;
        border-bottom: 1px dashed $grey-line;
        @media #{$tab-media-minM} {
          margin-bottom: 15px;
          padding: 15px 0;
        }
      }
    }
    &-description {
        font-size: $fontSize-base;
        line-height: 23px;
        margin-bottom: 18px;
        font-weight: 500;
        font-family: $font-montserrat-md;
    }
    &-href {
        color: $blue-dark;
        font-size: $fontSize-baseS;
        line-height: 18px;
        font-weight: 600;
        text-decoration: none;
        font-family: $font-montserrat-exb;
        text-transform: uppercase;
    }
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
        a {
            text-transform: uppercase;
        }
    }
    &-pagitanion {
        margin: 27px 0 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        span {
            width: 14px;
            height: 14px;
            margin-right: 12px;
            background: $grey-hovered 0% 0% no-repeat padding-box;
            border-radius: 100%;
            &.swiper-pagination-bullet-active {
                background: $blue-dark 0% 0% no-repeat padding-box;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
