.profile {
    margin: 50px 0 85px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__column {
        &.m-photo {
            width: 100%;
            @media #{$tab-media-minM} {
                max-width: 255px;
            }
        }
        &.m-descr {
            width: 100%;
            @media #{$tab-media-minM} {
                max-width: 385px;
            }
            p {
                font-size: $fontSize-base;
                line-height: 23px;
                font-family: $font-montserrat-md;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__control-links {
        width: 100%;
    }
    &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img {
            max-width: 100%;
        }
    }
    &__name {
        display: block;
        font-size: $fontSize-base;
        line-height: 23px;
        border-bottom: 1px dashed $grey-line;
        padding: 14px 0;
        font-weight: bold;
    }
    &__descr {
        margin: 15px 0 25px;
        display: block;
        p {
            margin: 0;
            font-size: $fontSize-base;
            line-height: 23px;
            font-weight: bold;
            font-family: $font-montserrat-rg;
        }
    }
    &__control-links {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 72px;
        a {
            font-size: $fontSize-baseS;
            line-height: 18px;
            font-family: $font-montserrat-exb;
            text-transform: uppercase;
            color: $blue-dark;
            &:first-child {
                margin-right: 52px;
            }
        }
    }
    .container {
        @media #{$tab-media-minM} {
            max-width: 740px;
        }
    }
}