.m-listing {
    margin-top: 55px;
    &__wrapper {
        @media #{$mob-media-min} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media #{$tab-media-minM} {
            justify-content: flex-start;
        }
    }
    &__item {
        margin-right: 0;
        margin-bottom: 40px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        @media #{$mob-media-min} {
            margin-bottom: 70px;
            max-width: 48%;
        }
        @media #{$tab-media-minM} {
            margin-right: 17px;
            max-width: 255px;
            width: 100%;
        }
        @media #{$desktop-mediaL} {
            max-width: 362px; 
        }
        @media #{$desktop-mediaXL} {
            max-width: 428px; 
        }
        &-image {
            margin-bottom: 20px;
            width: 140px;
            height: 195px;
            @media #{$mob-media-min} {
                width: 160px;
                height: 220px;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &-title {
            margin-bottom: 21px;
            padding-bottom: 21px;
            border-bottom: 1px dashed $grey-line;
            font-size: $fontSize-base;
            line-height: 23px;
            font-weight: 600;
            text-decoration: none;
            width: 100%;
            display: block;
            color: $font-base;
            font-family: $font-montserrat-md;
        }
        &-description {
            font-size: $fontSize-base;
            line-height: 23px;
            margin-bottom: 18px;
            font-weight: 500;
            font-family: $font-montserrat-md;
        }
    }
}