.school-list {
  &-filters {
    margin: 20px 0 40px;
    @media #{$mob-media-min} {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    &__col {
      width: 100%;
      margin-bottom: 10px;
      @media #{$mob-media-min} {
        width: 33.3333%;
        margin-right: 20px;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
      }
      select, .btn {
        width: 100%;
      }
      select {
        position: relative;
        padding: 5px 25px;
        font-family: $font-montserrat-md;
        font-size: $fontSize-baseL;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $grey-hovered;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        background: transparent no-repeat url("../images/arrow-select.svg");
        background-position: 94% 15px;
        @media #{$desktop-mediaL} {
          background-position-x: 96%;
        }
        @media #{$desktop-mediaXL} {
          background-position-x: 97%;
        }
        &:hover, &:active {
          outline: none;
        }
        option {
          font-size: $fontSize-base;
        }
      }
    }
  }

  &-wrapper {
    @media #{$mob-media-min} {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__item {
    width: 100%;
    margin: 0 0 50px;
    @media #{$mob-media-min} {
      width: 49%;
      margin-right: 10px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media #{$tab-media-minM} {
      width: 32%;
      margin-right: 16px;
      &:nth-child(2n) {
        margin-right: 16px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media #{$desktop-mediaL} {
      width: 23%;
      margin-right: 24px;
      &:nth-child(2n), &:nth-child(3n) {
        margin-right: 32px;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @media #{$desktop-mediaXL} {
      max-width: 252px;
      width: 20%;
      margin-right: 14px;
      &:nth-child(2n), &:nth-child(3n), &:nth-child(4n) {
        margin-right: 14px;
      }
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
    &-header {
      position: relative;
      padding: 10px;
      font-family: $font-montserrat-md;
      font-size: $fontSize-small;
      line-height: $lineHeight-baseS;
      color: $primary;
      background: $grey-light;
      .header-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        img {
          width: 24px;
          height: auto;
        }
      }
    }
    &-image {
      img {
        width: 100%;
      }
    }
    &-info {
      padding: 20px 0 25px;
      width: 100%;
      font-family: $font-montserrat-rg;
      font-size: $fontSize-base;
      line-height: $lineHeight-base;
      color: $primary;
      .info {
        &-name {
          font-family: $font-montserrat-md;
          margin-bottom: 15px;
        }
        &-address {
          margin-bottom: 10px;
        }
      }
    }
    &-link {
      font-family: $font-montserrat-exb;
      font-size: $fontSize-baseS;
      line-height: $lineHeight-base;
      color: $blue-dark;
      text-transform: capitalize;
      cursor: pointer;
      &:hover {
        color: $grey-hovered;
      }
    }
  }
}
